﻿@{
    ViewData["Title"] = "Coding Test";
    Layout = "_Layout";
}
<div class="container">
    <p class="mt-3 text-success text-center">Thankyou! For taking the test we will get back to you soon. </p>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#logoutbtn").addClass("d-none");
        });
    </script>
</div>