﻿
@{
    ViewData["Title"] = "Coding Test";
    Layout = "_Layout";
}
@model Recruitment.Models.Response.CodingQuestionsResponseModel;
<div class="m-2" id="codingTest">
    <div class="d-flex">
        <div class="d-flex w-50 justify-content-end"><h3>Coding Test</h3></div>
        <div class="d-flex justify-content-end align-items-top w-50 text-danger"><span>Round:2/2</span></div>
    </div>
    <div id="pages" class="mt-0">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><button name="SelectedQuestion" type="button" class="page-link change bg" value="1">1</button></li>
                <li class="page-item"><button name="SelectedQuestion" type="button" class="page-link change" value="2">2</button></li>
                <li class="page-item"><button name="SelectedQuestion" type="button" class="page-link change" value="3">3</button></li>
            </ul>
        </nav>
    </div>
    <form id="codingForm">
        <input type="hidden" id="userTestId" value="@Model.CodingQuestion.UserTestId" />
        <div class="form-group d-flex flex-row justify-content-end mb-1 ">
            <select class="form-select form-control p-0" aria-label=".form-select-sm example" id="language" name="language">
                <option value="c" selected>C</option>
                <option value="cpp">C++</option>
                <option value="java">JAVA</option>
                <option value="csharp">C#</option>
            </select>
        </div>
        <div id="codingSection">
            <div id="codingQuestionSection">
                <input type="hidden" id="questionId" asp-for="@Model.QuestionId" value="@Model.CodingQuestion.QuestionId" />
                <textarea readonly class="w-100 h-100" id="codingQuestion">@Model.CodingQuestion.QuestionContent</textarea>
            </div>
            <div id="userCodeSection">
                <textarea asp-for="@Model.UserCode." spellcheck="false" class="w-100 h-100" id="userCode" placeholder="Write your code here"> </textarea>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-end mt-2">
            @*<button class="btnn btnn-outline-info mr-2" type="button" id="compile"> compile</button>*@
            <button type="button" class="btnn btnn-info" data-toggle="modal" data-target="#warningModal">Submit</button>
        </div>
        <div id="errorDiv">
            <textarea spellcheck="false" class="d-none" id="error"></textarea>
        </div>
        <div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <p id="confirm">You are about to submit response(s) for all Questions of Round 2 and this will end your coding Round.Do you want to continue?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btnn btnn-outline-info" data-dismiss="modal">Close</button>
                        <button type="button" class="btnn btnn-info" id="confirmSubmit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="warningRefreshModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <p id="confirm">The Test will be conducted in full screen mode,click OK to proceed.</p>
                        <div class="row">
                            <div class="col-6 d-flex">
                                <span id="timeLeft" class="text-danger">Time Left:30 seconds</span>
                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                <span id="warningsLeft" class="text-danger"> Warnings Left:3</span>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btnn btnn-outline-info" data-dismiss="modal" id="warningModalConfirm">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="~/js/Coding/Test.js"></script>
</div>



