﻿
@{
    ViewData["Title"] = "TestDetails";
    @model Recruitment.Domain.Shared.Dto.CodingTestDetailsResponseModel;
}
<div class=" mt-5">
    <p class="text-success">Congratulations! You have successfully cleared Round 1.</p>
    <h3>Details regarding this test</h3>
    <div class="infoContainer">
        <ul>
            <li class="mb-2 mt-3 font-weight-bold"><i class="fas fa-info-circle danger_instruction"></i>The Test will be conducted in full screen mode only.</li>
            <li class="mb-2 font-weight-bold"><i class="fas fa-info-circle danger_instruction"></i>Minimizing the Test window or opening a new tab will end the Test.
            <li class="mb-2"><i class="fas fa-info-circle"></i>Round 2 is the Coding Round.This test will consist of 3 questions.</li>
            <li class="mb-2"><i class="fas fa-info-circle"></i>Available languages are C# ,C++,JAVA and C.</li>
            <li class="mb-2"><i class="fas fa-info-circle"></i>Your code will be evaluated on the basis of coding conventions and logic.</li>
            <li class="mb-2"><i class="fas fa-info-circle"></i>The overall duration of test is @Model.TestDuration minutes. </li>
        </ul>
    </div>
    <div>
        <form asp-action="TestDetails">
            <input type="hidden" name="button" value="hidden">
            <div class="d-flex justify-content-end mt-5">  <button type="submit" class="btnn btnn-info " id="codingTakeTest">Take Test</button></div>

        </form>
    </div>
</div>
