﻿@{
    ViewData["title"] = "Colleges";
    Layout = "_Layout";
    @model List<Recruitment.Domain.Shared.Dto.CollegeInfoResponseModel>;
}
<div>
    <div>
        <div class="form-group text-center d-flex flex-row justify-content-end align-items-end">
            <button class="btnn btnn-outline-info" type="button" data-toggle="modal" data-target="#addCollegeModal" id="addBtn">Add </button>
        </div>
    </div>
    <div class="mt-3">
        <table class="table table-striped" id="collegeInfo">
            <thead>
                <tr>
                    <th scope="col">College</th>
                    <th scope="col">Active</th>
                    <th scope="col">Cut Off</th>
                    <th scope="col">Contact Person</th>
                    <th scope="col">Contact</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                @foreach (var college in Model)
                {
                    <tr>
                        <td class="college" data-value="@college.Id" data-toggle="modal" data-target="#editCollegeModal">@college.Name</td>
                        <td>@(college.IsActive==true ? "Yes":"No")</td>
                        <td>@college.Cutoff</td>
                        <td>@college.ContactPerson</td>
                        <td>@college.ContactPersonNumber</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="editCollegeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog lgModal" role="document">
            <div class="modal-content">
                <div class="modal-body" id="editCollege">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addCollegeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog lgModal" role="document">
            <div class="modal-content">
                <div class="modal-body" id="addCollege">
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/Admin/CollegeInfo.js"></script>
</div>