﻿@{
    ViewData["title"] = "QuestionBank";
    Layout = "_Layout";
    @model List<Recruitment.Domain.Shared.Dto.QuestionBankAptitudeResponseModel>;
}
<div id="questionBank">
    <div class="d-flex mb-4" id="questionTabs">
        <div class="w-50 d-flex justify-content-center align-items-center activeTest" id="aptitudeQuestionBankBtn">
            Aptitude
        </div>
        <div class="w-50 d-flex justify-content-center align-items-center" id="codingQuestionBankBtn">
            Coding
        </div>
    </div>
    <div class="d-flex justify-content-end mr-1">
        <button class="btnn btnn-outline-info" data-toggle="modal" data-target="#addSectionModel">ADD SECTION</button>
    </div>
    <div class="modal fade" id="addSectionModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="mb-2 text-center">Add Section</h2>
                    <div class="form-group">
                        <input type="text" class="form-control inputs mt-3" id="sectionName" placeholder="Enter Section Name" name="sectionName">
                        <small class="text-danger d-none" id="sectionNameError">Please enter a valid section name</small>
                    </div>
                    <div class="mr-2 mb-3 d-flex justify-content-end">
                        <button type="button" class="btnn btnn-outline-info mr-2" data-dismiss="modal" id="addSectionClose">Close</button>
                        <button type="button" class="btnn btnn-info saveModal" id="sectionAddSubmit">ADD</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="questionBankSections" class="mt-1">
    </div>
    <div class="modal fade" id="addQuestionModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog lgModal" role="document">
            <div class="modal-content">
                <div class="modal-body" id="addModal">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editSectionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog lgModal" role="document">
            <div class="modal-content">
                <div class="modal-body" id="editSection">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editQuestionModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog lgModal" role="document">
            <div class="modal-content">
                <div class="modal-body" id="editModal">
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/Admin/QuestionBank.js"></script>
</div>

