﻿@{
    ViewData["title"] = "Report";
    Layout = "_Layout";
    @model Recruitment.Models.Response.StudentReportModel;
}
<form>
    <div class="form-row mt-0">
        <div class="form-group col-sm-2">
            <select class="form-select form-control small-select" aria-label=".form-select-lg example" id="selectedCollege">
                <option value="" selected>Filter College </option>
                <option value="0">All</option>
                @foreach (var college in Model.Colleges)
                {
                    <option value="@college.Id">@college.Name</option>
                }
            </select>
        </div>
        <div class="form-group col-sm-2">
            <select class="form-select form-control small-select " aria-label=".form-select-lg example" id="selectedCourse">
                <option value="" selected>Filter Course </option>
                <option value="0">All</option>
                @foreach (var course in Model.Courses)
                {
                    <option value="@course.Id">@course.Name</option>
                }
            </select>
        </div>
        <div class="form-outline form-group col-sm-3 d-flex flex-row justify-content-center">
            <input type="search" id="searchInput" class="form-control inputs small-select" placeholder="Search"
                   aria-label="Search" />
        </div>
        <div class="form-group col-sm-2 text-center d-flex flex-row justify-content-start align-items-end">
            <button class="btnn btnn-outline-info mr-2" type="button" id="studentReport">Search </button>
        </div>
        <div class="form-group col-sm-3 text-center d-flex flex-row justify-content-end align-items-end">
            <button class="btnn btnn-outline-info" type="button" id="download">Export Results</button>
        </div>
    </div>
    <div class="mt-3">
        <table class="table table-striped" id="info">
        </table>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-danger">All records for this student will be deleted permanently.</p>
                </div>
                <div class="modal-footer">
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btnn btnn-outline-info mr-2" data-dismiss="modal" id="collegeClose">Close</button>
                        <button type="button" class="btnn btnn-info" id="deleteConfirm">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="~/js/Admin/Report.js"></script>


