﻿@{
    ViewData["title"] = "QuestionBank";
    Layout = "_Layout";
    @model Recruitment.Domain.Shared.Dto.StudentPersonalInfoModel;
}
<div id="tabs">
    <div class="row infoTabs">
        <div class="col-sm-4 activeTest d-flex justify-content-center align-items-center" id="personalInfoTab">
            Personal Info
        </div>
        <div class="col-sm-4 d-flex justify-content-center align-items-center bl br" id="aptitudeTestInfoTab">
            Aptitude Test
        </div>
        <div class="col-sm-4 d-flex justify-content-center align-items-center" id="codingTestInfoTab">
            Coding Test
        </div>
    </div>
</div>
<div id="studentMarks" class="d-none mt-2">
    <div class="form-group row">
        <div class="col-sm-6">
            <label for="result" class="col-sm-2 col-form-label label shortLabel">Result:</label>
            <div class="col-sm-10">
                <select class="form-select form-control p-0" aria-label=".form-select-sm example" id="result" name="result">
                    <option value="1">pass</option>
                    <option value="0">fail</option>
                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <label for="marks" class="col-sm-2 col-form-label label shortLabel">Marks:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control inputs" id="marks" placeholder="Student Coding Marks" min="0">
            </div>
        </div>
    </div>
    <div class="mt-1 mr-2 d-flex justify-content-end align-content-center">
        <button type="button" class="btnn btnn-info mt-3 " id="updateMarks">Save changes</button>
    </div>
    <script src="~/js/Admin/StudentInformations.js"></script>
</div>
