﻿body {
}
.answer {
    height: 400px;
    border: 2px solid #eadfdf;
}
thead {
    color: #e9ecef;
    background-color: #541b86;
    width:50px !important;
}
.student {
    color: #90c31f;
    cursor:pointer;
}
label {
    color: #541b86;
}

#modalDialog {
    width: 90%;
    max-width: none;
}
#modalTitle {
    text-align: center;
    color: #541b86;
}
#modalContent {
    padding-left: 60px;
    min-height: 750px;
}
h5{
    font-size:35px;
}
.activeTab {
    background-color: #90c31f;
}
.small-select{
    min-height:30px !important;
    font-size:1rem;
}