﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Source Sans Pro', sans-serif;
    background-image: none;
    background-color: #f5f5f5;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

#site-header {
    background: #541b86;
    color: white;
}

header.fixed-top {
    position: relative;
}

#banner {
    padding-top: 13em;
    background-color: teal;
    padding-bottom: 50px;
    color: white;
}


.about {
    padding: 80px 0;
}

.bg-light {
    background-color: #f8f9fa !important;
    padding: 80px 0;
}

#slider {
    padding: 80px 0;
}

.news {
    padding: 80px 0;
}

img {
    height: 40px;
    padding:6px;
}

#myNavbar {
    background-color: white;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    width: 100%;
    overflow:hidden
}

#loginBody {
    background-size: cover;
    z-index: 100;
    justify-content: center;
}

ul {
    list-style-type: none;
}

i {
    color: #90c31f;
    margin-right: 7px;
}

h3 {
    text-align: left;
    color: #541b86;
    font-weight: 600;
    margin-bottom: 30px !important;
}

.infoContainer {
    border: 2px solid #eadfdf !important;
}

.label {
    font-size: 18px;
    color: #541b86;
    margin-bottom: 4px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.btnlink {
    color: #541b86;
    font-size: 18px;
    letter-spacing: 1.1px;
    font-weight: 700;
    font-family: futura-pt, sans-serif;
}

.theme::before {
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    background-image: url(../../Images/bg-ornament_grape.svg);
    width: 400px;
    height: 460px;
    left: 16%;
    top: 7%;
    max-width: 100%;
    transform: translateX(-50%);
    opacity: 1;
    z-index: -1;
}

.theme::after {
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    background-image: url(../../Images/bg-ornament_leaf.svg);
    bottom: 0;
    left: 84%;
    width: 400px;
    height: 429px;
    max-width: 100%;
    transform: translateX(-50%);
    opacity: .9;
    z-index: -1;
}

.btnn {
    display: inline-block;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 3px solid transparent;
    padding: .4rem 1rem;
    font-size: 15px;
    line-height: 1.4;
    border-radius: 10rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
    outline: none !important;
}

.btnn-info {
    color: #fff;
    background-color: #9876b6;
    border-color: #9876b6;
    outline: none;
}

gs-headermenu__link {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none !important;
    font-size: 1rem;
    padding: .3rem 1.2rem;
    cursor: pointer;
}

.btnn-outline-info {
    color: #9876b6;
    border-color: #9876b6;
}

.btnn:hover {
    background-color: #541b86 !important;
    color: white !important;
    text-decoration: none;
}

.jumbotron {
    background-color: white;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.inputs, select {
    min-height: 58px;
    border-width: 2px;
    border-color: #dcdcdc;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: open-sans, sans-serif;
}
.inputs:focus ,select:focus{
    color: #495057 !important;
    background-color: #fff !important;
    border-color: #9547da !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgb(84 27 134 / 25%) !important;
    
}
btnn:focus {
    box-shadow: 0 0 0 0.2rem rgb(110 61 152 / 50%) !important;
    color: #fff;
    background-color: #401566;
    border-color: #39125c;
}
.loginContainer{
    margin-top:26%;
}
#clock {
    width: 120px;
    font-size: 18px;
    color: #d41616f0 !important;
}
#info{
    border:1px solid #ddd;
}
.shortLabel{
    max-height:40px;
}
.collapsible {
    color: #39125c;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 22px;
}

.aptiSection {
    border: 1px solid #ddd;
}
.collapsible:focus{
    border:none;
    outline:none !important;
}
h4 {
    font-size: 18px;
    color: #541b86;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: open-sans, sans-serif;
    text-align:center
}
.numbers {
    font-size: 17px;
    color: #90c31f
}
.bigHeading{
    font-size:28px !important;
    margin:0px !important;
}
.inline{
    display:inline-block;
}
.remove{
    color:red !important;
}
.edit{
    color:red !important;
}
.link:active {
    background-color: #90c31f;
}
.addSection {
    margin-right: 25px;
    color: #5381a7;
}
.editSection{
    color:red;
    margin-right:25px;
}
.activeTest {
    background-color: #90c31f;
    color:white;
}
#questionTabs{
    border: 1px solid #ddd;
    height: 41px;
}
.bl{
    border-left:1px solid #ddd;
}
.br{
    border-right:1px solid #ddd;
}
.infoTabs{
    border:1px solid #ddd;
    height:41px;
}
.lgModal {
    max-width: none;
    width: 730px;
}
.formHeading {
    color: #333333;
    opacity:0.7;
    margin-bottom:30px;
}
.heading {
    margin-bottom: 30px !important;
    color: #541b86;
}
.shrink {
    color: #5381a7;
}
.center {
    margin: 27% auto;
    width: 50%;
}
.danger_instruction{
    color: red !important;
}
.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
.rotate.down {
   -moz-transform: rotate(180deg);
   -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.backgroundSection-color {
    background-color: #efefef;
}
.d-span {
    outline:none;
}
.ac-span {
    color: #90c31f
}
.act-span {
    color: #9876b6
}
.name-link {
    color: #90c31f !important;
}