﻿
@{
    ViewData["title"] = "AlreadyAttempted";
    Layout = "_Layout";
}
<div class="container">
    <p class="mt-3 text-success text-center">Your responses for the test have already been saved.</p>
</div>
