﻿@{
    ViewData["Title"] = "AptitudeQuestions";
    Layout = "_Layout";
    @model List<Recruitment.Domain.Shared.Dto.AptitudeSectionResponseModel>;
}
<div class=" mt-3 ml-3" id="test">
    <div class="d-flex">
        <div class="d-flex justify-content-end w-50"><h3>AptitudeTest</h3></div>
        <div class="d-flex justify-content-end align-items-top w-50 text-danger"><span>Round:1/2</span></div>
    </div>
    <form id="aptitudeTest">
        @for (int m = 0; m < Model.Count; m++)
        {<div class="d-flex align-items-center">
                <h3 type="button" class="collapsible bigHeading">@Model[m].SectionName</h3>
                <i class="fas fa-chevron-up fa-lg shrink rotate" data-toggle="collapse" data-target="#@Model[m].TrimmedSectionName" title="Collapse section"></i>
            </div>
            <div class="content collapse show" id="@Model[m].TrimmedSectionName">
                @for (var q = 0; q < Model[m].Section.Count; q++)
                {
                    <div class="mb-2 questionDiv">
                        <p class="aptiQuestions"> <span class="questionNumber">@(q + 1)</span> @Model[m].Section[q].QuestionContent</p>
                        <input type="hidden" class="questionId" value="@Model[m].Section[q].QuestionId" />
                        @for (int i = 0; i < Model[m].Section[q].Options.Count; i++)
                        {

                            <label class="aptiLabels"><Input name="@Model[m].Section[q].QuestionId" class="optionId" type="radio" value="@Model[m].Section[q].Options[i].OptionId"> @Model[m].Section[q].Options[i].Option </label>
                            <br />

                        }
                    </div>
                }
            </div>
        }
        <div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <p id="confirm">You are about to submit response(s) for Round 1.Do you want to continue?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btnn btnn-outline-info" data-dismiss="modal">Close</button>
                        <button type="button" class="btnn btnn-info " data-dismiss="modal" id="aptitudeSubmit" >Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="warningRefreshModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <p id="confirm">The Test will be conducted in full screen mode,click OK to proceed.</p>
                        <div class="row">
                            <div class="col-6 d-flex">
                                <span id="timeLeft" class="text-danger">Time Left:30 seconds</span>
                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                <span id="warningsLeft" class="text-danger"> Warnings Left:3</span>
                               
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btnn btnn-outline-info" data-dismiss="modal" id="warningModalConfirm">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5 d-flex justify-content-end">
            <button type="button" class=" btnn btnn-info" data-toggle="modal" data-target="#warningModal">Submit</button>
        </div>
    </form>
    <script src="~/js/Aptitude/Questions.js"></script>
</div>



