﻿@{
    ViewData["title"] = "AptitudeTestDetails";
    Layout = "_Layout";
    @model Recruitment.Domain.Shared.Dto.AptitudeTestDetailsResponseModel;
}
<div class="mt-5">
    <h3>Details regarding this test</h3>
    <div class="infoContainer">
        <ul>
            <li class="mb-2 mt-3 font-weight-bold"><i class="fas fa-info-circle danger_instruction"></i>The Test will be conducted in full screen mode only. </li>
            <li class="mb-2 font-weight-bold"><i class="fas fa-info-circle danger_instruction"></i>Minimizing the Test window or opening a new tab will end the Test.
            <li class="mb-2"><i class="fas fa-info-circle"></i>Round 1 is the Aptitude Round.</li>
            <li class="mb-2"><i class="fas fa-info-circle"></i>After submitting this test if your marks are greater than the cutoff you will be redirected to coding round.</li>
            <li class="mb-2"><i class="fas fa-info-circle"></i>This test consist of 30 multiple choice questions.</li>
            <li class="mb-2"><i class="fas fa-info-circle"></i>Each question has only one correct option.</li>
            <li class="mb-2"><i class="fas fa-info-circle"></i>The overall duration is @Model.TestDuration minutes. </li>
            <li class="mb-2"><i class="fas fa-info-circle"></i>Each question has equal weightage.</li>
            <li class="mb-2"><i class="fas fa-info-circle"></i>There is no negative marking.</li>
        </ul>
    </div>
    <div> 
        <form asp-action="TestDetails">
            <div class="d-flex justify-content-end mt-5">
                <button id="aptiTakeTest" type="submit" class="btnn btnn-info ">Take Test</button>
            </div>
        </form>
    </div>
</div>