﻿@{
    ViewData["Title"] = "Registration";
    Layout = "_LoginLayout";

}

@model Recruitment.Models.Response.RegisterResponseViewModel;
<div class="Container" id="registerContainer">
    <div class="theme">
        <form id="registrationForm" class="m-sm-auto mt-2 ">
            <div class="jumbotron " id="registerJumbotron">
                <h2 class=" text-center formHeading">Sign Up</h2>
                <div class="form-group row">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <label for="name" class="control-label label ">Name <span class="ml-0 mr-0 text-danger">*</span></label>
                        <input type="text" class="form-control inputs" id="name" placeholder="Enter your name" name="Name">
                        <small class="text-danger d-none" id="nameError">Please enter valid name.</small>

                    </div>
                    <div class="col-md-6 mb-3 mb-md-0">
                        <label for="email" class="control-label label">Email <span class="ml-0 mr-0 text-danger">*</span></label>
                        <input type="email" class="form-control inputs" id="email" placeholder="Enter your mail id" name="Email" >
                        <small class="text-danger d-none" id="errorEmail">Email already exist please login</small>
                        <small class="text-danger d-none" id="emailError">Please enter a valid email</small>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <label for="CollegeId" class="control-label label">College <span class="ml-0 mr-0 text-danger">*</span></label>
                        <select class="form-select form-control p-0" aria-label=".form-select-sm example" id="college" name="College" >
                            <option value="" selected>College</option>
                            @for (int i = 0; i < Model.Colleges.Count; i++)
                            {
                                <option value="@Model.Colleges[i].Id">@Model.Colleges[i].Name</option>

                            }
                        </select>
                        <small class="text-danger d-none" id="collegeError">Please select your college</small>
                    </div>
                    <div class="col-md-6">
                        <label for="rollNo" class="control-label label">Roll No <span class="ml-0 mr-0 text-danger">*</span></label>
                        <input type="text" class="form-control inputs" id="rollNo" placeholder="Enter your roll number" title="Only valid roll number" name="RollNo" maxlength="20"  pattern="^[1-9][0-9]*$">
                        <small class="text-danger d-none" id="rollnumberError">Please provide valid roll number.</small>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <label for="phoneNo" class="control-label label">Phone No <span class="ml-0 mr-0 text-danger">*</span></label>
                        <input type="text" class="form-control inputs" id="phoneNumber" placeholder="Enter valid phone number" name="PhoneNumber" title="Only valid phone number" pattern="[6-9]{1}[0-9]{9}">
                        <small class="text-danger d-none" id="phonenumberError">Please enter valid phone number.</small>
                    </div>
                    <div class="col-md-6">
                        <label for="alternatePhoneNo" class="control-label label">Alternate Phone No </label>
                        <input type="text" class="form-control inputs" id="alternatePhoneNumber" placeholder="Enter valid phone number" name="AlternatePhoneNumber" title="Only valid phone number" pattern="[6-9]{1}[0-9]{9}">
                        <small class="text-danger d-none" id="altphoneError">Please enter valid phone number.</small>
                    </div>
                </div>
                <div class="form-group row ">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <label for="semester" class="control-label label">Semester <span class="ml-0 mr-0 text-danger">*</span></label>
                        <input  type="number" class="form-control inputs"  id="semester" name="Semester" placeholder="semester" min="1" max="8" />
                        @*<select class="form-select form-control p-0" aria-label=".form-select-sm example" id="semester" name="Semester" required>
                            <option selected value="" >Semester</option>
                            <option value="7">VII</option>
                            <option value="8">VIII</option>
                        </select>*@
                        <small class="text-danger d-none" id="semesterError">Please enter your semester.</small>
                    </div>
                    <div class="col-md-6">
                        <label for="CourseId" class="control-label label">Course <span class="ml-0 mr-0 text-danger">*</span></label>
                        <select class="form-select form-control p-0" aria-label=".form-select-sm example" name="Course" id="course">
                            <option value="" selected>Course</option>
                            @for (int i = 0; i < Model.Courses.Count; i++)
                            {
                                <option value="@Model.Courses[i].Id">@Model.Courses[i].Name</option>
                            }
                        </select>
                        <small class="text-danger d-none" id="courseError">Please enter your course.</small>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button id="continue" type="button" class="btnn btnn-info mt-2">Continue</button>
                </div>
            </div>

        </form>
    </div>
    <script src="~/js/Register/Registration.js"></script>
</div>

