﻿@{
    Layout = null;

}
<div class="modal-body" id="addCollege">
        <div class="jumbotron">
            <h2 class="mb-2 text-center">Add College</h2>
            <div class="form-group">
                <label class="label" for="newCollegeName">College Name</label>
                <input type="text" class="form-control inputs" name="newCollegeName" id="newCollegeName">
                <small id="collegeNameError" class="d-none text-danger">This college is already present.</small>
                <small id="collegeValidation" class="d-none text-danger">Please enter a valid college name.</small>

            </div>
            <div class="form-group">
                <label for="isActive" class="control-label label">Active</label>
                <select class="form-select form-control p-0" aria-label=".form-select-sm example" id="newIsActive" name="active">
                    <option value="true" selected>Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group">
                <label class="label" for="contactPerson">CutOff</label>
                <input type="number" min="0" class="form-control inputs" id="newCutoff">
                <small id="cutoffError" class="d-none text-danger">Please select a cut off.</small>
            </div>
            <div class="form-group">
                <label class="label" for="contactPerson">Contact Person</label>
                <input type="text" class="form-control inputs" id="newContactPerson">
                <small id="personError" class="d-none text-danger">Please add a contact person.</small>
            </div>
            <div class="form-group">
                <label class="label" for="contactNumber">Contact Number</label>
                <input type="text" class="form-control inputs" id="newContactNumber">
                <small id="contactError" class="d-none text-danger">Please provide a valid contact number.</small>
            </div>
            <div class="form-group">
                <label class="label" for="contactNumber">Address</label>
                <input type="text" class="form-control inputs" id="address">
                <small id="addressError" class="d-none text-danger">Please provide a address.</small>
            </div>
            <div class="form-group">
                <label class="label" for="contactNumber">State</label>
                <select class="form-select form-control p-0" aria-label=".form-select-sm example" id="state" name="state">
                    <option value="">State</option>
                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                    <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                    <option value="Assam">Assam</option>
                    <option value="Bihar">Bihar</option>
                    <option value="Chandigarh">Chandigarh</option>
                    <option value="Chhattisgarh">Chhattisgarh</option>
                    <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                    <option value="Daman and Diu">Daman and Diu</option>
                    <option value="Delhi">Delhi</option>
                    <option value="Lakshadweep">Lakshadweep</option>
                    <option value="Puducherry">Puducherry</option>
                    <option value="Goa">Goa</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Haryana">Haryana</option>
                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                    <option value="Jharkhand">Jharkhand</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Kerala">Kerala</option>
                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Manipur">Manipur</option>
                    <option value="Meghalaya">Meghalaya</option>
                    <option value="Mizoram">Mizoram</option>
                    <option value="Nagaland">Nagaland</option>
                    <option value="Odisha">Odisha</option>
                    <option value="Punjab">Punjab</option>
                    <option value="Rajasthan">Rajasthan</option>
                    <option value="Sikkim">Sikkim</option>
                    <option value="Tamil Nadu">Tamil Nadu</option>
                    <option value="Telangana">Telangana</option>
                    <option value="Tripura">Tripura</option>
                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                    <option value="Uttarakhand">Uttarakhand</option>
                    <option value="West Bengal">West Bengal</option>
                </select>
                <small id="stateError" class="d-none text-danger">Please select a state.</small>
            </div>
            <div class="d-flex justify-content-end">
                <button type="button" class="btnn btnn-outline-info mr-2" data-dismiss="modal" id="collegeClose">Close</button>
                <button type="button" class="btnn btnn-info" id="addCollegeSubmit">Add</button>
            </div>
        </div>
</div>
