﻿@{

    Layout = null;
}
<div class="container">
    <script type="text/javascript" src="~/js/Login/AdminLogin.js"></script>
    <div>
        <form class="m-sm-auto " id="adminLoginForm" style="max-width:450px">
            <div class="jumbotron mw-75" id="loginJumbotron">
                <h2 class="mb-2 text-center formHeading">Admin|Login</h2>
                <div class="form-group">
                    <label class="label" for="Username">Username</label>
                    <input type="text" class="form-control inputs" id="username" name="Username">
                    <small id="invalidAdmin" class="text-danger d-none"> Invalid Username </small>
                </div>
                <div class="form-group">
                    <label for="Password" class="label">Password</label>
                    <input type="password" class="form-control inputs" id="password" name="Password">
                    <small id="invalidPassword" class="text-danger d-none"> Wrong Password</small>
                </div>
                <div class="d-flex justify-content-center mt-2">
                    <button type="button" class="btnn btnn-info" id="adminLoginbtn">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>
