﻿@{
    Layout = null;
    @model Recruitment.Domain.Shared.Dto.SectionFullDetailsResponseModel;
}
<div class="modal-body" id="editSection">
    <form>
        <div class="jumbotron">
            <h2 class="mb-2 text-center">Edit Section</h2>
            <div class="form-group">
                <label class="label" for="editedSectionName">Section Name</label>
                <input type="text" class="form-control inputs" id="editedSectionName" name="editedSectionName" value="@Model.SectionName" required>
                <small class="text-danger d-none" id="editedSectionNameError">Please enter a valid section name</small>
            </div>
            <div class="form-group">
                <label for="isSectionActive" class="control-label label">Active</label>
                <select class="form-select form-control p-0" aria-label=".form-select-sm example" id="isSectionActive" name="isSectionActive">
                    @if (Model.IsActive == true)
                    {
                        <option value="true" selected>Yes</option>
                        <option value="false">No</option>
                    }
                    else
                    {
                        <option value="true">Yes</option>
                        <option value="false" selected>No</option>
                    }

                </select>
            </div>
            <div class="form-group">
                <label class="label" for="questionsGiven"> Questions Count</label>
                <input type="number" class="form-control inputs" id="questionsGiven" name="questionsGiven" value="@Model.QuestionCount" max="@Model.ActiveQuestions" min="0" required>
            </div>

            <div class="d-flex justify-content-end align-content-center mt-2">
                <button type="button" class="btnn btnn-outline-info mr-2" data-dismiss="modal">Close</button>
                <button type="button" class="btnn btnn-info  saveModal" id="editSectionSubmit">Save Changes</button>

            </div>
        </div>
    </form>
</div>
