﻿@{
    Layout = null;
    @model Recruitment.Domain.Shared.Dto.AptitudeQuestion
}
<div class="modal-body" id="editModal">
    <form>
        <div class="jumbotron">
            <h2 class="mb-2 text-center">Edit Question</h2>
            <div class="form-group">
                <input type="hidden" value="@Model.QuestionId" id="questionId" />
                <label class="label" for="newQuestionContent">Question</label>
                <input type="text" class="form-control inputs" id="newQuestionContent" placeholder="Enter Question" name="newQuestionContent" value="@Model.QuestionContent" required>
                <small class="text-danger d-none" id="aptitudeQuestionEditError">Please enter valid question</small>
            </div>
            <div class="form-group">
                <label for="isActive" class="control-label label">Active:</label>
                <select class="form-select form-control p-0" aria-label=".form-select-sm example" id="isActive" name="section">
                    @if (Model.IsActive == true)
                    {
                        <option value="true" selected>Yes</option>
                        <option value="false">No</option>
                    }
                    else
                    {
                        <option value="true">Yes</option>
                        <option value="false" selected>No</option>
                    }

                </select>
            </div>
            <div class="form-group" id="optionDiv">
                <label class="label">Option:</label><button type="button" class="btn shadow-none"  id="editAddOptionBtn"><i class="fas fa-plus-circle"></i>Add Option</button>
                @for (int i = 0; i < Model.Options.Count; i++)
                {
                <div class="d-flex align-items-center optionsSection">
                    @if (Model.Options[i].IsCorrect == true)
                        {
                    <input type="radio" name="editopt" class="mr-2" checked required>
                        }
                        else
                        {
                    <input type="radio" name="editopt" class="mr-2" required>
                        }

                    <input type="text" class="inputs form-control editoption " id="@Model.Options[i].OptionId" name="options" value="@Model.Options[i].Option">
                    <i class="fas fa-trash-alt ml-2 remove" aria-hidden="true"></i>
                </div>
                }
            </div>
           <div class="d-flex justify-content-end">
                <button type="button" class="btnn btnn-outline-info mr-2" data-dismiss="modal">Close</button>
                <button type="button" class="btnn btnn-info  saveModal" id="editSubmit">Save Changes</button>
 
            </div>
        </div>
    </form>
</div>