﻿@{
    Layout = null;
    @model List<Recruitment.Domain.Shared.Dto.TestSectionResponseModel>;

}
<div class="modal-body" id="addModal">
    <form>
        <div class="jumbotron">
            <h2 class="mb-2 text-center">Add Question</h2>
            <div class="form-group">
                <label class="label" for="questionContent">Question</label>
                <input type="text" class="form-control inputs" id="questionContent" placeholder="Enter Question" name="questionContent" required>
                <small class="text-danger d-none" id="aptitudeNewQuestionError">Please enter valid question</small>
            </div>
            <div class="form-group" id="optionDiv">
                @*<label class="label">Option: <i class="fas fa-plus-circle" id="addOptionBtn"></i> Add Option</label>*@
                <label class="label">Option:</label> <button type="button" class="btn shadow-none" id="addOptionBtn"><i class="fas fa-plus-circle"></i>Add Option</button>
                <small class="text-danger d-none" id="aptitudeNewQuestionOptionError">Please choose a option</small>


            </div>
            <div class="d-flex justify-content-end">
                <button type="button" class="btnn btnn-outline-info mr-2" data-dismiss="modal">Close</button>
                <button type="button" class="btnn btnn-info  saveModal" id="addSubmit">ADD</button>
            </div>
        </div>
    </form>
</div>