﻿@{
    Layout = null;
    @model List<Recruitment.Domain.Shared.Dto.AptitudeAttemptedQuestionResponseModel>;
}
<div id="aptitudeInfo">
    <div class="summary card mb-3 mt-3">
        <div class="card-body">
            <h4 class="text-left">Marks Obtained</h4>
            <p class="numbers">
                @for (var m = 0; m < Model.Count; m++)
                {
                    <span class="mr-3">@Model[m].SectionName:@Model[m].SectionMarks/@Model[m].SectionTotalMarks</span>
                }
            </p>
        </div>
    </div>
    @for(var sec = 0; sec < Model.Count; sec++)
     {
        <div class="mt-2 mb-1 aptiSection">
            <div class="d-flex align-items-center">
                <button type="button" class="collapsible">@Model[sec].SectionName</button>
                <i class="fas fa-chevron-up fa-lg shrink rotate" data-toggle="collapse" data-target="#@Model[sec].TrimmedSectionName"></i>
            </div>
            <div class="content collapse show" id="@Model[sec].TrimmedSectionName">
                @for (var q = 0; q < Model[sec].Section.Count; q++)
                {
                    <div class="mb-2 questionDiv">
                        <p class="aptiQuestions"> <span class="questionNumber">@(q + 1)</span> @Model[sec].Section[q].QuestionContent</p>
                        <input type="hidden" class="questionId" value="@Model[sec].Section[q].QuestionId" />
                        @for (int i = 0; i < Model[sec].Section[q].Options.Count; i++)
                        {
                            if (Model[sec].Section[q].UserOptionId != null)
                            {

                                if (Model[sec].Section[q].UserOptionId == Model[sec].Section[q].Options[i].OptionId && Model[sec].Section[q].Options[i].IsTrue == true)
                                {
                                    <div><label class="optLabels " value="@Model[sec].Section[q].Options[i].OptionId"><i class="far fa-check-circle correct"></i> @Model[sec].Section[q].Options[i].Option </label></div>
                                }
                                else
                                {
                                    if (Model[sec].Section[q].Options[i].IsTrue == true)
                                    {
                                        <div><label class="optLabels" value="@Model[sec].Section[q].Options[i].OptionId"><i class="far fa-check-circle correct"></i> @Model[sec].Section[q].Options[i].Option </label></div>

                                    }
                                    else if (Model[sec].Section[q].UserOptionId == Model[sec].Section[q].Options[i].OptionId)
                                    {
                                        <div><label class="optLabels" value="@Model[sec].Section[q].Options[i].OptionId"><i class="far fa-times-circle wrong"></i> @Model[sec].Section[q].Options[i].Option </label></div>
                                    }

                                    else
                                    {
                                        <div><label class="optLabels margedLabel" value="@Model[sec].Section[q].Options[i].OptionId"> @Model[sec].Section[q].Options[i].Option </label></div>

                                    }
                                }
                            }
                            else
                            {
                                <div><label class="optLabels margedLabel" value="@Model[sec].Section[q].Options[i].OptionId"> @Model[sec].Section[q].Options[i].Option </label></div>
                            }

                        }
                    </div>
                }
            </div>
        </div>
     }
</div>
