﻿@{
    Layout = null;
    @model Recruitment.Domain.Shared.Dto.CodingQuestionInfo
}
<div class="modal-body" id="editModal">
    <form>
        <div class="jumbotron">
            <h2 class="mb-2 text-center">Edit Question</h2>
            <div class="form-group">
                <input type="hidden" value="@Model.QuestionId" id="questionId" />
                <label class="label" for="newQuestionContent">Question</label>
                <input type="text" class="form-control inputs" id="newQuestionContent" name="newQuestionContent" value="@Model.QuestionContent" required>
                <small class="text-danger d-none" id="codingQuestionEditError">Please enter valid question</small>
            </div>
            <div class="form-group">
                <label for="isActive" class="control-label label">Active</label>
                <select class="form-select form-control p-0" aria-label=".form-select-sm example" id="isActive" name="section">
                    @if (Model.IsActive == true)
                    {
                        <option value="true" selected>Yes</option>
                        <option value="false">No</option>
                    }
                    else
                    {
                        <option value="true">Yes</option>
                        <option value="false" selected>No</option>
                    }

                </select>
            </div>
            <div class="form-group">
                <label class="label" for="questionContent">Marks</label>
                <input type="number" class="form-control inputs" id="questionMarks" name="questionMarks" value="@Model.QuestionMarks" required>
                <small class="text-danger d-none" id="codingMarksError">Please enter valid marks</small>
            </div>
            <div class="d-flex justify-content-end align-content-center">
                <button type="button" class="btnn btnn-outline-info mr-2" data-dismiss="modal">Close</button>
                <button type="button" class="btnn btnn-info  saveModal" id="editCodingSubmit">Save Changes</button>

            </div>
        </div>
    </form>
</div>
