﻿@{
    Layout = null;

}
<div class="modal-body" id="addModal">
    <form>
        <div class="jumbotron">
            <h2 class="mb-2 text-center">Add Question</h2>
            <div class="form-group">
                <label class="label" for="questionContent">Question</label>
                <input type="text" class="form-control inputs" id="questionContent" placeholder="Enter Your Question" name="questionContent" required>
                <small class="text-danger d-none" id="codingNewQuestionError">Please enter valid question</small>
            </div>
            <div class="form-group">
                <label class="label" for="questionMarks">Marks</label>
                <input type="number" class="form-control inputs" id="questionMarks" placeholder="Enter Marks" name="questionMarks" required>
                <small class="text-danger d-none" id="codingNewMarksError">Please enter valid marks</small>
            </div>
            <div class="d-flex justify-content-end align-content-center">
                <button type="button" class="btnn btnn-outline-info mr-2 " data-dismiss="modal">Close</button>
                <button type="button" class="btnn btnn-info  saveModal" id="addCodingSubmit">ADD</button>
            </div>
        </div>
    </form>
</div>
