﻿@{
    Layout = null;
}
@model Recruitment.Models.Response.CodingQuestionsResponseModel
<div id="codingSection">
    <div id="codingQuestionSection">
        <input type="hidden" id="questionId" asp-for="@Model.QuestionId" value="@Model.CodingQuestion.QuestionId" />
        <textarea readonly class="w-100 h-100" id="codingQuestion">@Html.Raw(@Model.CodingQuestion.QuestionContent)</textarea>
    </div>
    <div id="userCodeSection">
        <textarea name="userCode" class="w-100 h-100" id="userCode" placeholder="Write your code here">@Model.CodingQuestion.CodeSubmitted </textarea>
    </div>
     
</div>