﻿@{
    Layout = null;
    @model List<Recruitment.Domain.Shared.Dto.CollegeInfoResponseModel>;
}
<table class="table table-striped" id="collegeInfo">
    <thead>
        <tr>
            <th scope="col">College</th>
            <th scope="col">Active</th>
            <th scope="col">Cut Off</th>
            <th scope="col">Contact Person</th>
            <th scope="col">Contact</th>
        </tr>
    </thead>
    <tbody id="tableBody">
        @foreach (var college in Model)
        {
            <tr>
                <td class="college" data-value="@college.Id" data-toggle="modal" data-target="#editCollegeModal">@college.Name</td>
                <td>@(college.IsActive==true ? "Yes":"No")</td>
                <td>@college.Cutoff</td>
                <td>@college.ContactPerson</td>
                <td>@college.ContactPersonNumber</td>
            </tr>
        }
    </tbody>
</table>