﻿@{
    Layout = null;
    @model Recruitment.Domain.Shared.Dto.CollegeInfoResponseModel;
    string[] state = new string[] {"Andhra Pradesh",
                 "Arunachal Pradesh",
                 "Assam",
                 "Bihar",
                 "Chhattisgarh",
                 "Goa",
                 "Gujarat",
                 "Haryana",
                 "Himachal Pradesh",
                 "Jammu and Kashmir",
                 "Jharkhand",
                 "Karnataka",
                 "Kerala",
                 "Madhya Pradesh",
                 "Maharashtra",
                 "Manipur",
                 "Meghalaya",
                 "Mizoram",
                 "Nagaland",
                 "Odisha",
                 "Punjab",
                 "Rajasthan",
                 "Sikkim",
                 "Tamil Nadu",
                 "Telangana",
                 "Tripura",
                 "Uttarakhand",
                 "Uttar Pradesh",
                 "West Bengal",
                 "Andaman and Nicobar Islands",
                 "Chandigarh",
                 "Dadra and Nagar Haveli",
                 "Daman and Diu",
                 "Delhi",
                 "Lakshadweep",
                 "Puducherry" };
}
<div class="modal-body" id="editCollege">
    <form>
        <div class="jumbotron">
            <h2 class="mb-2 text-center">Edit College</h2>
            <div class="form-group">
                <input type="hidden" value="@Model.Id" id="collegeId" />
                <label class="label" for="collegeName">College Name</label>
                <input type="text" class="form-control inputs" name="collegeName" value="@Model.Name" id="editedCollegeName" required>
                <small class="text-danger d-none" id="editedCollegeNameError">Please provide valid college name</small>
                <small class="text-danger d-none" id="existError">College name already exist</small>
            </div>
            <div class="form-group">
                <label for="isActive" class="control-label label">Active</label>
                <select class="form-select form-control p-0" aria-label=".form-select-sm example" id="editedIsActive" name="section">
                    @if (Model.IsActive == true)
                    {
                        <option value="true" selected>Yes</option>
                        <option value="false">No</option>
                    }
                    else
                    {
                        <option value="true">Yes</option>
                        <option value="false" selected>No</option>
                    }

                </select>
            </div>
            <div class="form-group">
                <label class="label" for="contactPerson">CutOff</label>
                <input type="number" min="0" class="form-control inputs" id="editedCutoff" value="@Model.Cutoff" required>
            </div>
            <div class="form-group">
                <label class="label" for="contactPerson">Contact Person</label>
                <input type="text" class="form-control inputs" id="editedContactPerson" value="@Model.ContactPerson" required>
                <small class="text-danger d-none" id="editedContactPersonError">Please enter valid name</small>
            </div>
            <div class="form-group">
                <label class="label" for="contactNumber">Contact Number</label>
                <input type="text" class="form-control inputs" id="editedContactNumber" value="@Model.ContactPersonNumber" required>
                <small class="text-danger d-none" id="editedContactError">Please enter valid name</small>
            </div>
            <div class="form-group">
                <label class="label" for="contactNumber">Address</label>
                <input type="text" class="form-control inputs" value="@Model.Address" id="editedAddress">
                <small id="editedAddressError" class="d-none text-danger">Please provide a address.</small>
            </div>
            <div class="form-group">
                <label class="label" for="contactNumber">State</label>
                <select class="form-select form-control p-0" aria-label=".form-select-sm example" id="editedState" name="state">
                    @foreach (var st in state)
                    {
                        if (st == Model.State)
                        {
                            <option value=@st selected>@st</option>
                        }
                        else
                        {
                            <option value=@st>@st</option>
                        }
                    }
                </select>
                <small id="editedStateError" class="d-none text-danger">Please select a state.</small>
            </div>
            <div class="d-flex justify-content-end">
                <button type="button" class="btnn btnn-outline-info mr-2" data-dismiss="modal">Close</button>
                <button type="button" class="btnn btnn-info  saveModal" id="editCollegeSubmit">Save Changes</button>

            </div>
        </div>
    </form>
</div>