﻿@{
    Layout = null;
    @model List<Recruitment.Domain.Shared.Dto.StudentInfoModel>
}
<table class="table table-striped" id="info">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Course</th>
            <th scope="col">College</th>
            <th scope="col">Aptitude</th>
            <th scope="col">Coding</th>
            <th scope="col">Date</th>
            <th scope="col">Contact</th>
            <th scope="col">Action</th>
        </tr>
    </thead>

    @if (Model.Count > 0)
    {
        <tbody id="tableBody">
            @foreach (var student in Model)
            {
                <tr>
                    <td class="student d-flex align-items-center"> <a href="./StudentInformation?id=@student.Id&date=@student.Date.ToString("yyyy-MM-dd")" data-value="@student.Id" class="name-link">@student.Name</a></td>
                    <td>@student.Email</td>
                    <td>@student.Course</td>
                    <td>@student.College</td>
                    <td>@student.AptiMarks</td>
                    @if (student.CodingStatus != null)
                    {

                        if (student.CodingStatus == true)
                        {
                            <td>Pass</td>
                        }
                        else
                        {
                            <td>Fail</td>
                        }
                    }
                    else
                    {
                        <td>_</td>
                    }
                    <td>@student.Date.ToShortDateString()</td>
                    <td>@student.PhoneNumber</td>
                    <td><div class="d-flex w-100 justify-content-end"><i class="fas fa-trash-alt ml-2 remove deleteStudent" data-target="#deleteModal" data-value="@student.Id" aria-hidden="true"></i></div></td>
                </tr>
            }
        </tbody>
    }
</table>
