﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Recruitment</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Aptitude/Questions.css" />
    <link rel="stylesheet" href="~/css/Aptitude/TestDetails.css" />
    <link rel="stylesheet" href="~/css/Coding/Test.css" />
    <link rel="stylesheet" href="~/css/Coding/TestDetails.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Admin/Report.css" />
    <link rel="stylesheet" href="~/css/Admin/AptitudeTestReport.css" />
    <link rel="stylesheet" href="~/css/Admin/CollegeInfo.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/77ea9ae81a.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/ajax/jquery.unobtrusive-ajax.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>

</head>
<body>
    <header id="site-header" class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-dark" id="myNavbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="~/Images/GC-Logo.png" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="d-none btnn btnn-info link mr-2 btnlink" id="reportLink" href="/Admin/Report">Report</a>
                        </li>
                        <li class="nav-item">

                            <a class="d-none btnn btnn-info link btnlink mr-2" id="questionBankLink" href="/Admin/QuestionBank">Question Bank</a>
                        </li>
                        <li class="nav-item">
                            <a class="d-none btnn btnn-info link btnlink" id="collegeLink" href="/Admin/CollegeInfo">Colleges</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-end align-items-center">
                <span id="clock" class="text-danger mr-0 d-none"></span>
                <a class="nav-link-active btnn btnn-info btnlink" id="logoutbtn" href="/Login/UserLogin">Logout</a>
            </div>
        </nav>

    </header>
    <div class="container" id="baseContainer">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Recruitment - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
    <script>
        $(document).ready(function () {
            $.ajaxSetup({ cache: false });
        });
    </script>
</body>
</html>
