﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel=" stylesheet" href="~/css/Login/UserLogin.css" />
    <link rel="stylesheet" href="~/css/Login/OtpAuthentication.css" />
    <link rel="stylesheet" href="~/css/Register/Registration.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/ajax/jquery.unobtrusive-ajax.js"></script>

</head>
<body id="loginBody">
    <header id="site-header" class="fixed-top">
        <nav class="navbar navbar-expand-lg" id="myNavbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="~/Images/GC-Logo.png" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                        <li>
                            <a class="gs-headermenu__link btnn btnn-outline-info px-5 px-xl-4 mr-3 btnlink" aria-current="page" id="registerButton" asp-controller="Register" asp-action="Registration">Sign Up</a>
                        </li>
                        <li>
                            <a class="gs-headermenu__link btnn btnn-info px-5 px-xl-4 btnlink" aria-current="page" id="adminLogin">Admin</a>
                        </li>
                        <li>
                            <a class="gs-headermenu__link btnn btnn-outline-info px-5 px-xl-4 mr-3 d-none btnlink" aria-current="page" asp-controller="Login" asp-action="UserLogin" id="loginButton">Sign In</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div id="viewLoader">
        @RenderBody()
    </div>
</body>
</html>
