﻿
@{
    ViewData["title"] = "Not Qualified";
    Layout = null;
}
<div class="container">
    <p class="mt-3 text-danger text-center">Unfortunately, you could not qualify for the next round.</p>
</div>

