﻿@{
    Layout = null;
}
<div class="container">
    <form class="m-sm-auto w-50" id="otpForm">
        <div class="jumbotron mw-75" id="otpJumbotron">
            <h2 class="mb-2 heading">OTP Authentication</h2>
            <div class="form-group">
                <input class="form-control inputs" type="password" name="Otp" id="Otp" required pattern="[0-9]{6}" autocomplete="off" title="valid otp" placeholder="Please enter otp sent to mail id" />
                <small id="invalidOtp" class="text-danger d-none">Invalid otp</small>
                <small id="expiredOtp" class="text-danger d-none">Otp Expired</small>
                <small class="d-none text-success" id="rensendMessage">A new OTP has been sent</small>
            </div>
            <div>
                <div class="d-flex justify-content-center">
                    <button class="btnn btnn-info" type="submit">Submit</button>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center mt-3">
                    <span class="act-span">Didn't receive OTP?<button class="d-span border-0 bg-transparent" type="button"id="resendBtn" disabled>Resend Now</button></span>
                </div>
            </div>
        </div>
    </form>
    <script src="~/js/Login/OtpAuthentication.js"></script>
</div>


