﻿@{
    Layout = null;
    @model List<Recruitment.Domain.Shared.Dto.QuestionBankCodingResponseModel>
}
<div id="questionBankSections" class="mt-1">
    <div class="mt-2 mb-1 aptiSection">
        @for (var m = 0; m < Model.Count; m++)
        {
        <div class="d-flex align-items-center backgroundSection-color">
            @*<button type="button" class="collapsible">@Model[m].SectionName</button>*@
            <div type="button" class="collapsible">@Model[m].SectionName</div>
            <div class="d-flex justify-content-end align-content-center operation">
                <input type="hidden" name="codingSectionId" value="@Model[m].SectionId." />
                <i class="far fa-plus-square fa-lg addSection" id="addButton" data-toggle="modal" data-target="#addQuestionModel" aria-hidden="true" title="Add new question"></i>
                <i class="fas fa-pen fa-lg editSection" data-toggle="modal" data-target="#editSectionModal" id="editSectionBtn" aria-hidden="true" title="Edit section"></i>
                <i class="far fas fa-chevron-up fa-lg shrink rotate" data-toggle="collapse" data-target="#@Model[m].TrimmedSectionName" title="Collapse section"></i>
            </div>
        </div>
            <div class="content collapse show " id="@Model[m].TrimmedSectionName">

                @for (var q = 0; q < Model[m].SectionQuestions.Count; q++)
                {

                    <div class="mb-2 questionDiv">
                        <div class="d-flex align-items-baseline">
                            <p class="aptiQuestions"> <span class="questionNumber">@(q + 1)</span> @Model[m].SectionQuestions[q].QuestionContent</p>
                            <i class="far fa-edit edit ml-1" data-toggle="modal" data-target="#editQuestionModel" title="Edit question"></i>
                        </div>
                        <input type="hidden" class="questionId" name="questionId" value="@Model[m].SectionQuestions[q].QuestionId" />
                    </div>
                }
            </div>
        }
    </div>
</div>