﻿body {
}

#codingSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 700px;
}

#baseContainer {
    margin-top: 8%;
}

#codingQuestionSection {
    width: 30%;
}

#userCodeSection {
    width: 70%;
}

#pages {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

#codingQuestion {
    border: none;
    resize: none
}

#userCode {
    border: 2px solid #b3a6a6;
    resize: none;
    background-color: #282a36;
    color: #ecb7d8;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}

.change {
    color: #191717;
}

#language {
    max-width: 100px;
    min-height:40px !important;
}

#error {
    margin-right: 40px;
    margin-top: 40px;
    width: 550px;
    height: 300px;
    border: 1px solid #ddd !important;
    padding:20px;
    background-color:#f5f5f5;
    color:red;
}

#errorDiv {
    margin-left: 32%;
}
select {
    border: 2px solid #675b5b;
    background: #ddd1de;
}
#confirm {
    color: #90c31f;
    border-bottom:none;
}
.bg {
    background-color: #90c31f;
    color:white;
}
.modalBody{
    border-bottom:none;
}

