﻿
body {
    background-image: url(../background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
    justify-content: center;
    align-items: center;
}

#otpJumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: -45% !important
}

#OtpHeading {
    margin-bottom: 30px !important;
}

#otpForm {
    margin: 10% auto !important;
    font-family: sans-serif;
    max-width: 450px;
}
