﻿
#loginForm {
    margin: 10% auto !important;
    font-family: sans-serif;
    max-width: 450px !important;
}
#loginJumbotron {
    padding-top: 30px;
    padding-bottom:30px;
    margin-top:-45% !important;

}
