﻿body {
}
.aptiLabels {
    font-size: 18px;
    margin-left: 60px;
    color: black;
}
p {
    font-size: 20px;
}
h3 {
    margin-bottom: 68px !important;
}
.aptiQuestions {
    font-size: 20px;
    font-weight: 700;
}
.questionNumber {
    color: #fff;
    background: #90c31f;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    display: block;
    float: left;
    text-align: center;
    line-height: 2em;
    margin: 0 10px;
}
.questionDiv {
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}