﻿@{
    ViewData["Title"] = "Login";
    Layout = "_LoginLayout";
}

<div class="loginContainer">
    <div class="theme">
        <form class="m-sm-auto " id="loginForm" style="max-width:450px">
            <div class="jumbotron mw-75" id="loginJumbotron">
                <h2 class="heading">Sign In</h2>
                <div class="form-group">
                    <input type="text" class="form-control inputs" id="input" placeholder="Enter email" name="PhoneNo" title="only valid phone number or email" ng-pattern="/^(?:\d{10}|\w+@Html.Raw("@)")\w+\.\w{2,3})$/">
                    <small id="inputError" class="text-danger"></small>
                    <small id="invalidUser" class="text-danger d-none"> User does not exist please register</small>
                </div>
                <div class="d-flex justify-content-center mt-1">
                    <button type="submit" class="btnn btnn-info" id="login">SIGN IN</button>
                </div>
            </div>
        </form>
    </div>
    <script src="~/js/Login/UserLogin.js"></script>
</div>